.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 2em;
	height: fit-content;
	background-color: #187473;
	border-radius: 1em;
	font-family: 'Lato', sans-serif;
	color: white;
}

.title {
	margin-bottom: 1em;
}
.formDownloadButton {
	border: none;
	border-radius: 1em;
	margin-top: 1em;
	padding: 1em 2em 1em 2em;
	font-size: 24px;
	color: white;
	font-weight: bold;
	background-color: #e26823;
}

.formDownloadButton[disabled] {
	background-color: #cccccc;
	color: #666666;
}
