@import '../../themes/colors.scss';

.styledMenu {
	display: flex;
	height: 41px;
	width: 41px;
	padding: 6px;
	flex-direction: column;
	background-color: transparent;
	border: 2px;
	cursor: pointer;
	justify-content: space-between;
	&:focus {
		outline: none;
	}
}

.defaultLine {
	position: relative;
	height: 4px;
	width: 40px;
	background: $color-primaryColor;
	transform-origin: 2px;
	transform: rotate(0);
	transition: all 1s linear;
}

.openTopLine {
	transform: rotate(45deg);
}
.closeTopLine {
	transform: rotate(0);
}

.openMidLine {
	opacity: 0;
	transform: translateX(20px, 0);
}
.closeMidLine {
	opacity: 1;
}

.openBottomLine {
	transform: rotate(-45deg);
}
.closeBottomLine {
	transform: rotate(0);
}
