$color-white: #ffffff;
$color-primaryColor: #187473;
$color-secondaryColor: #e26823;
$color-terciary: #310232;
$color-disable: #cccccc;
$color-disableFont: #666666;
$color-errorMessage: yellow;
$color-menuBackground: #d25fd49b;
