@import '../../themes/colors.scss';

.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
	padding: 15% 1em 5% 1em;
	background-image: url('../../assets/images/png/background.png');
	background-size: cover;
}
