@import './themes/colors.scss';

.App {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
	background-image: url('./assets/images/png/background.png');
	background-size: cover;
}
