@import '../../themes/colors.scss';

.inputList {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 2em;
	height: fit-content;
	background-color: $color-primaryColor;
	border-radius: 1em;
	font-family: 'Lato', sans-serif;
	color: $color-white;
}

.headerList {
	padding: 0em 0 1em 0;
}

table {
	border-collapse: collapse;
}

th,
td {
	border: 1px solid white;
	border: 1px solid white;
	padding: 1em;
}
